# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Excutables
align
gen_hel
decode
ring
tir

# Work Directory
raw
rootfiles
jobfiles/

# Possibly large file
*.tar.gz
hel*.dat
g2p_*.dat.*
